TG_PEBBLE_APP_API_ID=123456
TG_PEBBLE_APP_API_HASH=replace-with-app-api-hash
TG_PEBBLE_APP_CONFIG_URL=https://nick1udwig.github.io/tg-pebble/config/
TG_PEBBLE_APP_FORCE_WSS=1
TG_PEBBLE_APP_TEST_SERVERS=0
