TG_TEST_ENABLE=1
TG_API_ID=123456
TG_API_HASH=replace-with-api-hash
TG_SESSION_STRING=
TG_TEST_ALLOW_SEND_CODE=0
TG_TEST_ALLOW_SEND=0
TG_TEST_TARGET_PEER=me
TG_TEST_MUTATION_TEXT_PREFIX=[TG Pebble Test]
TG_TEST_PHONE=99966XYYYY
TG_TEST_CODE=XXXXX
TG_TEST_PASSWORD=
TG_TEST_ALLOW_LOGOUT=0
TG_TEST_PREFER_SIGN_UP=0
TG_TEST_USE_WSS=1
TG_TEST_SERVERS=0
